<h1>Resiter</h1>

<h2>Account Created</h2>

<mat-grid-list cols="2" rowHeight="100px" gutterSize="10px">
    <mat-grid-tile>
        <mat-form-field appearance="fill" color="accent">
            <mat-label>First Name</mat-label>
            <input matInput>
            <mat-error>Error</mat-error>
        </mat-form-field>
    </mat-grid-tile>
    <mat-grid-tile>
        <mat-form-field appearance="fill" color="accent">
            <mat-label>Last Name</mat-label>
            <input matInput>
            <mat-error>Error</mat-error>
        </mat-form-field>
    </mat-grid-tile>
    <mat-grid-tile>
        <mat-form-field appearance="fill" color="accent">
            <mat-label>Email</mat-label>
            <input matInput>
            <mat-error>Error</mat-error>
        </mat-form-field>
    </mat-grid-tile>
    <mat-grid-tile>
        <mat-form-field appearance="fill" color="accent">
            <mat-label>Password</mat-label>
            <input matInput [type]="hide?'password':'text'">
            <button mat-icon-button matSuffix (click)="hide=!hide">
                <mat-icon>{{hide?'visibility_off':'visibility'}}</mat-icon>
            </button>
            <mat-error>Error</mat-error>
        </mat-form-field>
    </mat-grid-tile>
    <mat-grid-tile>
        <mat-form-field appearance="fill" color="accent">
            <mat-label>Repeat Password</mat-label>
            <input matInput [type]="hide?'password':'text'">
            <button mat-icon-button matSuffix (click)="hide=!hide">
                <mat-icon>{{hide?'visibility_off':'visibility'}}</mat-icon>
            </button>
            <mat-error>Error</mat-error>
        </mat-form-field>
    </mat-grid-tile>
    <mat-grid-tile colspan="2">
        <button mat-flat-button color="accent" class="create-account-btn">CreateAccount</button>
    </mat-grid-tile>
</mat-grid-list>